page-home {
  .buttonContainer {
    width: 45vw;
    position: absolute;
    right: 0;
  }
  .functionButtons {
    width: 100%;
    height: 20vh;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 15vh;
      margin-left: 6vw
    }
  }
  .buttonText{
    height: 100%;
    width: 12vw;
    position: absolute;
    left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background-color: rgba(0,0,0,0.2);
    text-align: center;
  }
  .modal-inner-container {
    display: flex;
    flex-direction: column;
    label {margin-bottom: 1rem;}
    input {
      border: none;
      border-bottom: 2px solid $orange;
      padding-bottom: 1rem;
    }
    .user {
      background: url("../assets/imgs/icon_user.png");
      background-size: contain;
      background-position: right center;
      background-repeat: no-repeat;
    }
    .password {
      background: url("../assets/imgs/icon_password.png");
      background-size: contain;
      background-position: right center;
      background-repeat: no-repeat;
    }
    .button-section {
      button {
        color: #fff;
        width: 30vw !important;
        margin-top: 2rem !important;
      }
    }
  }
}
