$text-color: #444;
$darkpurple: #470b41;
$purple: #610539;
$orange: #ff8607;
$darkorange: #b25e05;
$cerulean: #0777a1;
$darker-cerulean: #055370;
$darkcerulean: #055370;
$darkblue: #2d4159;
$darker-darkblue: #1f2d3e;
$darkest-darkblue: #0c151e;
$grey: #4d4d4d;
$darkgrey: #282828;
$dark: #121212;
