// @ import this general file in variables.scss
@import "colors";

// Colors
.cerulean { background-color: $cerulean; }
.darkcerulean { background-color: $darkcerulean; }
.darkblue { background-color: $darkblue; }
.darker-darkblue { background-color: $darker-darkblue; }
.orange { background-color: $orange; }
.darkorange { background-color: $darkorange; }
.purple { background-color: $purple; }
.darkpurple { background-color: $darkpurple; }
.dark {background-color: $dark;}
.ligth {background-color: #fff;}

// Hidden vs visible
.hidden {visibility: hidden;}
.visible {visibility: visible;}

// Containers
.content {
  background-color: transparent !important;
  background-image: url('../assets/imgs/bg.jpg') !important;
  background-size: cover;
}
.container {
  background-color: #fff;
  width: 100vw;
  position: absolute;
  right: 0;
  height: 100vh;
  display: flex;
  //flex: 3 1 1;
  flex-direction: column;
}

// Menu button
.menu-button {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: $dark;
  z-index: 99;
  menu {
    position: relative;
    left: 10px;
    bottom: 10px;
  }
}
.menu-button-dark {
  padding: 5px 0 5px 20px;
  margin-right: 25px;
  background-color: transparent;
    ion-fab {
      background-color: $darkblue;
      position: relative;
      top: 10px;
    }
}
.fab-md {border-radius: 0 !important}




// Modals
.modal {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/imgs/bg.jpg') !important;
  background-size: cover;
  //background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $text-color;
  .modal-inner {
    background-color: #fff;
    width: 80vw;
    height: 55vh;
    z-index: 3;
    .modal-top {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {width: 8rem; height: 8rem}
    }
    .modal-inner-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      font-size: 3vh;
      padding: 4vw;
      text-align: center;
      color: $text-color;
      height: 40vh;
      .input-more-less-container {
        display: flex;
        margin-top: 3vh;
        .quantity {
          width: 5vh;
          height: 5vh;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
        }
        input {
          height: 5vh;
          width: 14vh;
          text-align: center;
          color: $text-color;
        }
      }
      .button-section {
        margin-bottom: 3vh;
        .button {
          width: 20vw;
          height: 6vh;
          margin: 0 1vw;
          img {width: 2rem; height: 2rem}
        }
      }
    }
  }
}
.modal:before {
  content: '';
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.8);
  z-index: 1;
  position: absolute;
}

// Add to cart buttons
.add-to-cart {
  height: 6rem;
  width: 80vw;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin: 2rem auto 0;
  .text {width: 100%}
  .cart-icon {
    width: 9rem;
    height: 6rem;
    display: flex;
    //justify-content: center;
    align-items: center;
    margin-right: 15px;
    img {
      height: 5rem;
      width: 5rem;
    };
  }
  &.dark{
    background-color: #7b7b7b;
    .cart-icon {background-color: #3c3c3c}
  }
  &.light {
    background-color: $darkorange;
    .cart-icon {background-color: darken($darkorange, 10%)}
  }
  &.purple{
    background-color: $purple;
    .cart-icon {background-color: $darkpurple}
  }
  &.orange{
    background-color: $orange;
    .cart-icon {background-color: $darkorange}
  }
}

// Spinner
.blk{
  background: rgba(0,0,0,0.8);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0;
}
ion-spinner {
  position: initial !important;
  top: 40vh;
  circle {stroke: $cerulean !important;}
  svg {width: 60% !important; left: 20% !important}
}
