<!-- ADD PRODUCT PAGE -->
<ion-content *ngIf='section === "editProductPage"'>
  <div class="container edit">
    <!-- NAME -->
    <div class="product-section name">
      <p class="buttonText darkpurple vertical-text">Nome</p>
      <div class="product-section-content">
        <input [(ngModel)]="product.name" onClick="this.setSelectionRange(0, this.value.length)" placeholder="Nome">
      </div>
      <div class="add-to-cart-product dark">
      </div>
    </div>
    <!-- NORMAL -->
    <div class="product-section normal">
      <p class="buttonText darkpurple vertical-text">Normale</p>
      <div class="product-section-content ">
        <div class="product-price">
          <div *ngIf='!priceClicked' (tap)="priceClicked = true" onClick="this.setSelectionRange(0, this.value.length)">--.-- €</div>
          <div *ngIf='priceClicked'>
            <input [(ngModel)]="product.price" onClick="this.setSelectionRange(0, this.value.length)"> €</div>
        </div>
        <ion-list radio-group color-primary [(ngModel)]="product.unity">
          <ion-item class="custom-radio">
            <ion-label>Alla confezione</ion-label>
            <ion-radio item-right value="confezione"></ion-radio>
          </ion-item>
          <ion-item class="custom-radio">
            <ion-label>Al kilo</ion-label>
            <ion-radio item-right value="kilo"></ion-radio>
          </ion-item>
          <ion-item class="custom-radio">
            <ion-label>Al litro</ion-label>
            <ion-radio item-right value="litro"></ion-radio>
          </ion-item>
        </ion-list>
        <div class="product-shop mt-2">
          <input placeholder="negozio" onClick="this.setSelectionRange(0, this.value.length)" [(ngModel)]="product.shop">
        </div>
      </div>
      <div class="add-to-cart-product purple">
      </div>
    </div>
    <!-- SALE -->
    <div class="product-section sale">
      <p class="buttonText darkorange vertical-text">Offerta</p>
      <div class="product-section-content ">
        <div class="product-price">
          <div *ngIf='!priceClicked' (tap)="priceClicked = true" onClick="this.setSelectionRange(0, this.value.length)">--.-- €</div>
          <div *ngIf='priceClicked'>
            <input [(ngModel)]="product.priceSale" onClick="this.setSelectionRange(0, this.value.length)"> €</div>
        </div>

        <ion-list radio-group [(ngModel)]="product.unitySale">
          <ion-item class="custom-radio">
            <ion-label>Alla confezione</ion-label>
            <ion-radio item-right color="secondary" value='confezione'></ion-radio>
          </ion-item>
          <ion-item class="custom-radio">
            <ion-label>Al kilo</ion-label>
            <ion-radio item-right color="secondary" value="kilo"></ion-radio>
          </ion-item>
          <ion-item class="custom-radio">
            <ion-label>Al litro</ion-label>
            <ion-radio item-right color="secondary" value="litro"></ion-radio>
          </ion-item>
        </ion-list>

        <div class="product-shop mt-2">
          <input placeholder="negozio" onClick="this.setSelectionRange(0, this.value.length)" [(ngModel)]="product.shopSale">
        </div>

      </div>
      <div class="add-to-cart-product orange">
      </div>
    </div>
    <!-- BUTTON -->
    <div class="button-section">
      <div class="row">
        <div>
          <div class="row">
            <div class="button cerulean" (tap)='save()'>
              <img src='assets/imgs/icon_save.png' />
              <span>Modifica</span>
            </div>
            <div class="button darkblue" (tap)='delete()'>
              <img src='assets/imgs/icon_delete.png' />
              <span>Cancella</span>
            </div>
          </div>
          <div class="row">
            <div class="button darkcerulean" (tap)="goBack()">
              <img src='assets/imgs/icon_back.png' />
              <span>Indietro</span>
            </div>
            <div class="button darker-darkblue" (tap)="goToPage('HomePage')">
              <img src='assets/imgs/icon_home.png' />
              <span>Home</span>
            </div>
          </div>
        </div>
        <div class="options">
          <img src='assets/imgs/icon_settings.png' (tap)="goToPage('OptionsPage')" />
        </div>

      </div>
    </div>
  </div>
</ion-content>

<!-- PRODUCT PAGE -->
<ion-content *ngIf='section === "productPage"'>

  <!-- ADD MODAL -->
  <div *ngIf='showAddModal===true' class="modal" [ngClass]="{'normal': adding === 'normal', 'sale': adding==='sale'}">
    <div class='modal-inner'>
      <div class='modal-top' [ngClass]="{'purple': adding === 'normal', 'orange': adding==='sale'}">
        <img src='assets/imgs/icon_shopping_list.png' />
      </div>
      <div class='modal-inner-container'>
        <div class="input-more-less-container">
          <div class='quantity' [ngClass]="{'darkpurple': adding === 'normal', 'darkorange': adding==='sale'}" (tap)='quantity = quantity-1'>-</div>
          <input [(ngModel)]="quantity">
          <div class='quantity' [ngClass]="{'darkpurple': adding === 'normal', 'darkorange': adding==='sale'}" (tap)='quantity = quantity+1'>+</div>
        </div>
        <p>Stai aggiungendo {{quantity}} di {{productForModal.name}} alla lista {{productForModal.shop}} </p>
        <div class='button-section'>
          <button class="button" [ngClass]="{'purple': adding === 'normal', 'orange': adding==='sale'}" (tap)='addProductToList(productForModal)'>
            <img src='assets/imgs/icon_ok.png' />
          </button>
          <button class="button dark" (tap)='this.quantity = 1; showAddModal = false;'>
            <img src='assets/imgs/icon_x.png' />
          </button>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <!-- NAME -->
    <div class="product-section noEdit name">
      <p class="buttonText darkpurple vertical-text">Nome</p>
      <div class="product-section-content">{{product.name}}
      </div>
      <div class="add-to-cart-product dark">
      </div>
    </div>
    <!-- NORMAL -->
    <div class="product-section noEdit normal">
      <p class="buttonText darkpurple vertical-text">Normale</p>
      <div class="product-section-content">
        <div class="product-price"> {{product.price}} €</div>
        <div class='product-unity'>{{product.unity}}</div>
        <div class="product-shop mt-2">{{product.shop}}</div>
      </div>
      <div class="add-to-cart-product purple" (tap)='showModal("normal", product)'>
        <span class='text'>Nel carrello</span>
        <img src='assets//imgs/icon_add_to_cart.png' />
      </div>
    </div>
    <!-- SALE -->
    <div class="product-section noEdit sale">
      <p class="buttonText darkorange vertical-text">Offerta</p>
      <div class="product-section-content">
        <div class="product-price"> {{product.priceSale}} €</div>
        <div class='product-unity'>{{product.unitySale}}</div>
        <div class="product-shop mt-2">{{product.shopSale}}</div>
      </div>
      <div class="add-to-cart-product orange" (tap)='showModal("sale", product)'>
        <span class='text'>Nel carrello</span>
        <img src='assets//imgs/icon_add_to_cart.png' />
      </div>
    </div>
    <!-- BUTTON -->
    <div class="button-section">
      <div class="row bottom-buttons darker-darkblue ">
        <div class="button cerulean" (tap)='edit()'>
          <img src='assets/imgs/icon_edit.png' />
          <span>Modifica</span>
        </div>
        <div class="button darkcerulean" (tap)='delete()'>
          <img src='assets/imgs/icon_delete.png' />
          <span>cancella</span>
        </div>
        <div class="menu">
          <menu></menu>
          <span>menu</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
