page-list-products {
  $padding-right: 4vw;
  .scroll-content {
    background-color: #fff;
  }
  ion-content {
    text-align: right;
    position: absolute;
    right: 0;
  }
  .list {padding: 11vh 0 14vh 0}
  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 4vw;
    border-bottom: 1px solid #dedede;
    padding-bottom: 1vh;
    // Item Text
    .text {
      font-size: 3vh;
      text-align: left;
      font-size: 3vh;
      text-transform: uppercase;
      font-weight: 300;
      .price {
        text-transform: initial;
        font-size: 2.5vh;
        font-weight: bold;
      }
    }
    // Buttons
    .icons {
      display: flex;
      .button {
        width: 12vw;
        height: 13vw;
        display: flex;
        justify-content: center;
        align-items: center;
        &.normal { background-color: $purple };
        &.sale { background-color: $orange };
        &.product { background-color: $cerulean };
      }
    }
  }
  // Normal vs Sale
  .normal {
    color: $purple;
    .modal-add {
      background-color: $cerulean;
    }
    .modal-delete {
      background-color: $darker-darkblue;
    }
  }
  .sale {
    color: $orange;
    .modal-add {
      background-color: $orange;
    }
    .modal-delete {
      background-color: $darkorange;
    }
  }
  // Search bar
  .search-bar {
    height: 10vh;
    background-color: #fff;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    z-index: 5;
  }
  ion-searchbar {
    padding: 4vw !important;
    color: $cerulean;
    input.searchbar-input {
      box-shadow: none !important;
      border-radius: 0;
      border-bottom: 2px solid $cerulean;
    }
  }
}
