<!-- ADD PRODUCT PAGE -->
<ion-content>
  <!-- ADD MODAL -->
  <div *ngIf='showAddModal' class="modal" [ngClass]="{'normal': adding === 'normal', 'sale': adding==='sale'}">
    <div class='modal-inner'>
      <div class='modal-top' [ngClass]="{'purple': adding === 'normal', 'orange': adding==='sale'}">
        <img src='assets/imgs/icon_shopping_list.png' />
      </div>
      <div class='modal-inner-container'>
        <div class="input-more-less-container">
          <div class='quantity' [ngClass]="{'purple': adding === 'normal', 'orange': adding==='sale'}" (tap)='quantity = quantity-1'>-</div>
          <input [(ngModel)]="quantity">
          <div class='quantity' [ngClass]="{'purple': adding === 'normal', 'orange': adding==='sale'}" (tap)='quantity = quantity+1'>+</div>
        </div>
        <p *ngIf="adding === 'normal'">Stai aggiungendo {{quantity}} di {{productForModal.name}} alla lista {{productForModal.shop}} </p>
        <p *ngIf="adding === 'sale'">Stai aggiungendo {{quantity}} di {{productForModal.name}} alla lista {{productForModal.shopSale}} </p>
        <div class='button-section'>
          <button class="button" [ngClass]="{'purple': adding === 'normal', 'orange': adding==='sale'}" (tap)='addProductToList(productForModal)'>
            <img src='assets/imgs/icon_ok.png' /> Nel carrello
          </button>
          <button class="button dark" (tap)='this.quantity = 1; showAddModal = false;'>
            <img src='assets/imgs/icon_x.png' /> Indietro
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- MENU -->
  <div *ngIf='!showAddModal' class='menu-button menu-button-dark'>
    <menu></menu>
  </div>
  <!-- SEARCH BAR -->
  <div *ngIf='!showAddModal' class='search-bar'>
    <ion-searchbar [(ngModel)]="searchTerm" [animated]="true" (ionInput)="searchProduct(searchTerm)"></ion-searchbar>
  </div>

  <div *ngIf='!showAddModal' class="container">
    <div class="list">
      <div class="list-item" *ngFor='let product of filterableProductList'>
        <div class="text">
          <div class="product">{{product.name}}</div>
          <div class="price">
            <span class="normal">{{product.price}}€</span> vs
            <span class="sale">{{product.priceSale}}€</span>
          </div>
        </div>
        <div class="icons">
          <button *ngIf='product.shop !== ""' class="button normal" (tap)='showModal("normal", product)'>
            <img src='assets/imgs/icon_add_to_cart.png' />
          </button>
          <button *ngIf='product.shop === ""' class="button semitransp normal">
            <img src='assets/imgs/icon_add_to_cart.png' />
          </button>
          <button *ngIf='product.shopSale !== ""'  class="button sale" (tap)='showModal("sale", product)'>
            <img src='assets/imgs/icon_add_to_cart.png' />
          </button>
          <button *ngIf='product.shopSale === ""'  class="button semitransp sale">
            <img src='assets/imgs/icon_add_to_cart.png' />
          </button>
          <button class="button product" (tap)='goToProduct(product)'>
            <img src='assets/imgs/icon_product.png' />
          </button>
        </div>
      </div>
    </div>
  </div>

</ion-content>
