page-options {
  .container {
    background-color: $cerulean;
    color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-icon {
      margin-right: 15px;
    }
    img {
      margin-bottom: 5vh;
    }
    button {
      height: 7vh;
      width: 70vw;
      font-size: 1.5rem;
    }
  }
}
