page-add-product {
  $padding-right: 4vw;

  ion-content {
    text-align: right;
    position: absolute;
    right: 0;
  }
  /* .container {
    width: 55vw;
    position: absolute;
    right: 0;
  }
  input {
    border: none;
    text-align: right;
    background-color: transparent;
  }
  .product-name {
    height: 10vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    color: #282828;
    border-bottom: 1px solid #dedede;
    padding-right: $padding-right;
    position: relative;
    input {
      text-transform: uppercase;
      width: 100%;
    }
    .buttonText {
      background-color: #777;
      height: 10vh;
      width: 8vw;
      position: absolute;
    }
  }
  .buttonText{
    height: 30vh;
    width: 8vw;
    position: relative;
    left: 0;
    bottom: 0;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: white !important;
    font-size: 2vh;
  }
  .product-section {
    position: relative;
    height: 30vh;
    border-bottom: 1px solid #dedede;
    //padding-right: 3vw;
    .buttonText {
      height: 30vh;
      width: 8vw;
      position: relative;
      left: 0;
      bottom: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }
    .product-section-content {
      position: absolute;
      top: 1vh;
      right: $padding-right;
      .product-price {
        border: none;
        font-size: 12vw;
        font-weight: bold;
        //margin-bottom: 1vh;
        input {
          border: none;
          width: 30vw;
        }
      }
      ion-list {
        align-items: flex-end;
        margin: 2vh 0;
      }
      .item-block {
        min-height: 0px; //per eliminare l'altezza minima di default
      }
      ion-item {
        font-size: 3vw;
        text-align: right;
        text-transform: uppercase;
        background-color: transparent !important;
        height: 3.5vh;
        .item-inner {
          padding: 0;
          //height: 4vh !important;
          background-color: transparent;
          border: none;
          //height: 40px !important;
        }
        .radio {
          margin: 5px 0 !important;
        }
        .radio-icon {
          width: 14px;
          height: 14px;
          .radio-inner{
            top: 1px;
            left: 1px;
          }
        }
        label {
          color: #444;
          font-size: 3vw;
          text-transform: uppercase;
        }
      }
      .product-shop{
        border: none;
        border-bottom: 1px solid #dedede;
        width: 40vw;
        margin: 3vw 0 0 15vw;
        input {
          width: 100%;
        }
      }
    }
  }
  .normal{
    color: $purple;
    .buttonText{
      background-color: $darkpurple;
      border-left: 2px solid $purple;
    }
  }
  .sale {
    color: $orange;
    .buttonText{
      background-color: $darkorange;
      border-left: 2px solid $orange;
    }
  }
  //BUTTON SECTION
  .button-section {
    height: 30vh;
    min-height: 15rem;
    .button {
      width: 15vh;
      height: 15vh;
      color: #fff;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 8vh;
        height: 8vh;
      }
      span {
        display: block;
        text-transform: uppercase;
        margin-top: 1vh;
      }
    }
    .save {
      background-color: $cerulean;
    }
    .delete {
      background-color: $darkblue;
    }
    .back {
      background-color: $darker-cerulean;
    }
    .home {
      background-color: $darker-darkblue;
    }

  }
  //NO EDIT - PRODUCT PAGE
  .noEdit {
    .product-section {
      border: none !important;
    }
    .product-unity{
      color: $text-color;
      text-transform: uppercase;
    }
    .product-shop {
      font-size: 4vh;
      font-weight: bold;
      height: 5vh;
      border: none !important;
    }
    .add-to-cart {
      height: 6vh;
      width: 40vw;
      color: #fff;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 1vh;
      font-size: 2vh;
      position: absolute;
      right: 0;
      margin-top: 2vh;
      //bottom: 2vh;
      .cart-icon {
        width: 6vh;
        height: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 5vh;
        };
      }
    }
    &.normal {
      .product-shop {
        color: $purple;
      }
      .add-to-cart {
        background-color: $purple;
        .cart-icon {
          background-color: $darkpurple;
        }
      }
    }
    &.sale {
      .product-shop {
        color: $orange;
      }
      .add-to-cart {
        background-color: $orange;
        .cart-icon {
          background-color: $darkorange;
        }
      }
    }
  } */

  .container {
    width: 100vw;
    display: flex;
    flex: 3 1 1;
    flex-direction: column;
  }

  .name {
    min-height: 5rem !important;
    .vertical-text {
      background-color: #777;
    }
  }
  .product-section {
    width: 100vw;
    display: flex;
    flex: 3 1 auto;
    min-height: 14rem;
    border-bottom: 1px solid #dedede;
    .vertical-text {
      width: 8vw;
      position: relative;
      left: 0;
      bottom: 0;
      margin: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      color: white !important;
    }
    .product-section-content {
      width: 67vw;
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .product-price {
        border: none;
        font-size: 5rem;
        font-weight: bold;
        input {
          border: none;
          width: 30vw;
        }
      }
      .product-unity {
        color: $text-color;
        text-transform: uppercase;
      }
      .product-shop {
        font-size: 3rem;
        font-weight: bold;
        //height: 4rem;
        //border: none !important;
      }
    }
    .add-to-cart-product {
      width: 25vw;
      color: #fff;
      font-size: 1.5rem;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      img {
        width: 5rem;
        height: 5rem;
      }
    }
    &.normal {
      .product-shop,
      .product-price {
        color: $purple;
      }
    }
    &.sale {
      .product-shop,
      .product-price {
        color: $orange;
      }
    }
  }

  .button-section {
    width: 100vw;
    height: 18rem;
    flex: 0 0 auto;
    .col,
    .row {
      padding: 0;
    }
    .col:first-child {
      width: 75vw !important;
    }
    .col:last-child {
      width: 25vw;
    }
    .button {
      color: #fff;
      width: 37.5vw;
      height: 9rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      span {
        //background-color: rgba(0,0,0,0.2);
        height: 100%;
        width: 3rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
      }
      img {
        width: 5rem;
        height: 5rem;
      }
      &:nth-child(odd) {
        span {
          left: 0;
        }
        img {
          margin-left: 3rem;
        }
      }
      &:nth-child(even) {
        span {
          right: 0;
        }
        img {
          margin-right: 3rem;
        }
      }
    }
    .options {
      width: 25vw;
      height: 18rem;
      background-color: $darkest-darkblue;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        text-transform: uppercase;
        margin-top: 10px;
      }
      img {
        width: 5rem;
        height: 5rem;
      }
    }
  }


  .edit {
    .product-section {
      min-height: 18rem;
    }
    .col-product{
      margin: 10px 2vw;
      width: 43vw;
    }
    .col-product:last-child{border-left: 1px solid #dedede}
    .product-price {
      font-size: 5rem;
      font-weight: bold;
    }

  }

  .edit {
    ion-list {
      align-items: flex-end;
      .item-block {min-height: 0px; /*per eliminare l'altezza minima di default*/  }
      ion-item {
        font-size: 1.2rem;
        text-transform: uppercase;
        padding-left: 5px;
        background-color: transparent !important;
        height: 2.4rem;
        .item-inner {
          padding: 0;
          padding-left: 5px;
          background-color: transparent;
          border: none !important;
        }
        .input-wrapper {text-align: right /*per cambiare l'allineamento*/}
        .radio { margin: 5px 0 !important; }
        .radio-icon {width: 14px; height: 14px;
          .radio-inner {top: 1px; left: 1px;}
        }
        label {
          color: #444;
          font-size: 3vw;
          text-transform: uppercase;
        }
      }
    }
    .product-shop {
      font-size: 2rem !important;
      text-transform: lowercase !important;
    }
  }
  input {
    border: none;
    text-align: right;
    background-color: transparent;
    border-bottom: 1px solid #dedede;
    text-align: right;
    width: 100%;
  }
}
