page-list-shopping {

  // List
  .list {
    background-color: #fff;
    .shop-name {
      font-weight: 900;
      font-size: 4vh;
      padding: 4vh 0 2vh 4vh;
      margin: 0;
    }
    .product {
      display: flex;
      padding: 1vh 4vh;
      margin: 0;
      font-size: 3vh;
      white-space: nowrap;
      .product-name {
        text-transform: uppercase;
        background-color: #fff;
        color: $text-color;
        padding-right: 1vh;
      }
      .product-quantity {
        background-color: #fff;
        font-weight: bold;
      }
      .product-sale {
        img {
          height: 3vh;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 1vh 0 2vh;
        }
      }
      .product-dots { overflow: hidden; flex: auto}
      .product-close { border-left: 4px solid #fff; color: #fff}
      .product-quantity, .product-close {padding: 0 1vh;}
      // stili per i prodotti in offerta
      .product-quantity.sale, .product-name.sale { color: #fff;}
    }
    .list-close {
      color: #fff;
      height: 6vh;
      padding: 0 4vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .purple {
    border-top: 4px solid $purple;
    .shop-name, .product-quantity {color: $purple }
    .product-close, .list-close {background-color: $purple; }
    // stili per i prodotti in offerta
    .product-name.sale, .product-sale.sale  {background-color: $purple; }
    .product-quantity.sale {background-color: $darkpurple; }
  }

  .semitrasp{
    opacity: 0.4;
  }

}
