<ion-content>

  <!-- ADD MODAL -->
  <!-- <div *ngIf='showDeleteModal===true' class="modal">
    <div *ngIf='secureDelete === false' class="icon"> ! </div>
    <p class="text">{{deleteMessage}} </p>
    <div class='button-section'>
      <button class="button cerulean" (tap)='deleteList()'>
        <img src='assets/imgs/icon_save.png' />
        <span>Conferma</span>
      </button>
      <button class="button darkblue" (tap)='showDeleteModal = false'>
        <img src='assets/imgs/icon_back.png' />
        <span>Indietro</span>
      </button>
      <div class="blk" *ngIf='showSpinner === true'>
        <ion-spinner>spinner </ion-spinner>
      </div>
    </div>
  </div> -->

  <!-- DELETE MODAL -->
  <div *ngIf='showDeleteModal===true' class="modal ">
    <div class='modal-inner'>
      <div class='modal-top cerulean'>
        <img src='assets/imgs/icon_delete.png' />
      </div>
      <div class='modal-inner-container'>
        <div *ngFor="let str of deleteMessage.split('\n')">{{str}}</div>
        <div class='button-section'>
          <button class="button cerulean" (tap)='deletListFromDB()'>
            <img src='assets/imgs/icon_delete.png' /> Sì, elimina
          </button>
          <button class="button dark" (tap)='showDeleteModal = false'>
            <img src='assets/imgs/icon_back.png' /> No, torna 'ndrio
          </button>
        </div>
        <div class="blk" *ngIf='showSpinner === true'>
          <ion-spinner>spinner </ion-spinner>
        </div>
      </div>
    </div>
  </div>

  <!-- MENU -->
  <div *ngIf='!showDeleteModal' class='menu-button menu-button-dark'>
    <menu></menu>
  </div>

  <ul>
    <li *ngFor='let shop of shoppingLists' class='list'>
      <p class='shop-name'>{{shop.shopName}}</p>
      <div class='product-list'>
        <div class='product' *ngFor='let product of shop.products, let i = index' [ngClass]='{"semitrasp" : this.semitransparent[shop.shopName][i]}'
          (tap)='this.semitransparent[shop.shopName][i] = !this.semitransparent[shop.shopName][i]'>
          <div class='top'>
            <span class='name' [ngClass]='{"sale" : product.sale === true}'>{{product.name}}</span>
            <span class='quantity'>x{{product.quantity}}</span>
          </div>
          <div class='bottom' [ngClass]='{"sale" : product.sale === true}'>{{product.price}} €
            <img *ngIf='product.sale === true' src='assets/imgs/icon_conviene_mini.png' />
          </div>
        </div>
      </div>
      <div class='close' (tap)='showDeleteModalConfirmation(shop.shopName)'>
        <img src='assets/imgs/icon_delete.png' />
      </div>
    </li>
  </ul>

</ion-content>
